<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
</head>
<body>
<center>
<h1>ИНТЕРНЕТ МАГАЗИН</h1>
<br/>
<table width="60%" align="center">
    <tr>
        <th><a href="/index">Каталог</a></th>
        <th><a href="/cart">Корзина</a></th>
        <th><a href="/orders">Заказы</a></th>
        <th><a href="/logout">Выход</a></th>
    </tr>
</table>
<br/>
<h2>Профиль</h2>
<br/>
    <br/>
    <table style="border-spacing: 16px;">
        <tr>
            <td class="prof">Имя:</td><td>[[*{name}]]</td>
        </tr>
        <tr>
            <td class="prof">Фамилия:</td><td>[[*{surname}]]</td>
        </tr>
        <tr>
            <td class="prof">Адрес доставки:</td><td>[[*{deliveryAddress}]]</td>
        </tr>
        <tr>
            <td class="prof">E-Mail:</td><td>[[*{email}]]</td>
        </tr>
        <tr>
            <td class="prof">Контактный телефон:</td><td>[[*{contactPhone}]]</td>
        </tr>
    </table>
    <br/>
    <a th:href="${accountLink}">Изменить профиль</a>
    <br/>
    <a href="/messages">Сообщения</a>
</center>

</body>
</html>